# Virtual Environments
ebpf-env/
venv/
env/

# PyTorch Datasets and Weights
data/
*.pth

# Python Caches
__pycache__/
*.pyc

# (Optional) Ignore massive raw CSVs if they are too big for GitHub
# monitor/*.csv